@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

*{
  box-sizing: border-box;
}
body{
height: 100vh;
    margin: 0;
    font-family: 'Prompt', sans-serif;
   color: #2e2e2e;
   background:linear-gradient(to bottom right,#ff966d,#fa538d);
   display: flex;
   flex-direction: column;
   justify-content: center;
  align-items: center;
  }
.container{
  margin: 20px auto;
  width: 350px;
}
h2{
  margin: 0;
  border-bottom: 5px solid #2e2e2e;
}